<!--Elena Savić 2021/0332-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     
    <script src="{% static 'js/deleteUser.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/basis.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleGuest.css' %}">
    <meta charset="UTF-8">
    <title>Korisnici</title>
</head>
<body>

    <div class="headerMain">
        <div class="main">
            <div class="logoAndButton">
                <img class="mainLogo" src="{% static 'css/logo.jpeg' %}" alt="EasyQuizzy">
            </div>
        </div>
    </div>

    <div class="container">
       

        <div class="mainNavigation">
            <nav class="mainNav">
                <a href="logo.jpeg" class="logoMain" data-tracking-label="logo" ></a>
                <div class="mainIcons">
                    {% for elem in left %}
                    <a href={{ elem.0 }} class="icons" id="category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            {% for tag in elem|slice:"1:-1" %}
                            <path d="{{ tag }}"/>
                            {% endfor %}
                        </svg>

                        <span class="globalNavLabels">{{ elem|last }}</span>

                    </a>
                    {% endfor %}

                </div>
            </nav>
        </div> 
        <div class="mainNavigationLeft">
            <nav class="mainNavLeft">
                <a href="logo.jpeg" class="logoMain" data-tracking-label="logo" ></a>
                <div class="mainIcons">
                    {% for elem in right %}
                    <a href={{ elem.0 }} class="icons" id="category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            {% for tag in elem|slice:"1:-1" %}
                            <path d="{{ tag }}"/>
                            {% endfor %}
                        </svg>

                        <span class="globalNavLabels">{{ elem|last }}</span>

                    </a>
                    {% endfor %}

                </div>
            </nav>
        </div> 

        <div class="row">
            
            <div class="col-sm-12 col-md-1">
                
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="table-container">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Korisničko ime</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Email adresa</th>
                            <th>Pol</th>
                            <th>Uloga</th>
                            <th>Izaberite:</th>
                        </thead>
                        <tbody>
                            {% for elem in all_users %}
                            <tr>
                                <td>{{ elem.0 }}</td>
                                <td>{{ elem.1 }}</td>
                                <td>{{ elem.2 }}</td>
                                <td>{{ elem.3 }}</td>
                                <td>{{ elem.4 }}</td>
                                <td id="role{{ elem.0 }}">{{ elem.5 }}</td>
                                <td>
                                    <input type="radio" name="choice" id="{{ elem.0 }}" class="userRadios">
                                </td>
                            </tr>
                            {%  endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-5">
                
                <input id="inputUser" type="text" placeholder="Unesite korisničko ime" class="form-control mt-5">
                <div class="text-center">
                    <button type="button" class="btn btn-light btn-margin" id="moderatorButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                            </svg>
                        Postavi za moderatora
                    </button>
                    <br/>
                    <button type="button" class="btn btn-light btn-margin" id="deleteButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"/>
                            </svg>
                        Obriši
                    </button>
                </div>
                    
                
                <div id="spaceAlert">
                    <div class="alert alert-warning text-center mt-3" role="alert" id="deleteAlert">
                        Da li ste sigurni da želite da obrišete korisnika? <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-margin" id="yesButton">Da</button>
                            <button type="button" class="btn btn-dark btn-margin" id="noButton">Ne</button>
                        </div>
                        
                    </div>
                    
                    
                </div>
                <div id="errorMessage" class="text-center bg-light rounded" style="display: none">
                    <p id="succ"></p>
                </div>
                
                
            </div>
            
        </div>

        
    </div>
    
    
    
</body>
</html>

<!--
<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
-->