
<!--Magdalena Obradovic 2021/0304-->
{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/basis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleGuest.css' %}">
    
    <meta charset="UTF-8">
    <title>Kategorije Pregled</title>
</head>
<body>
    <div class="flex-container-Petar-naslov">
        <h1></h1></div>
        

        <div class="headerMain">
            <div class="main">
                <div class="logoAndButton">
                    <img class="mainLogo" src="{% static 'css/logo.jpeg' %}" alt="EasyQuizzy">
                </div>
            </div>
        </div>
        
        
        <div class="mainNavigation">
            <nav class="mainNav">
                <a href="logo.jpeg" class="logoMain" data-tracking-label="logo" ></a>
                <div class="mainIcons">
                    {% for elem in left %}
                    <a href={{ elem.0 }} class="icons" id="category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            {% for tag in elem|slice:"1:-1" %}
                            <path d="{{ tag }}"/>
                            {% endfor %}
                        </svg>
    
                        <span class="globalNavLabels">{{ elem|last }}</span>
    
                    </a>
                    {% endfor %}
    
                </div>
            </nav>
        </div> 
        <div class="mainNavigationLeft">
            <nav class="mainNavLeft">
                <a href="logo.jpeg" class="logoMain" data-tracking-label="logo" ></a>
                <div class="mainIcons">
                    {% for elem in right %}
                    <a href={{ elem.0 }} class="icons" id="category">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            {% for tag in elem|slice:"1:-1" %}
                            <path d="{{ tag }}"/>
                            {% endfor %}
                        </svg>
    
                        <span class="globalNavLabels">{{ elem|last }}</span>
    
                    </a>
                    {% endfor %}
    
                </div>
            </nav>
        </div> 
        
    {% for elem in images %}
    <div class="row mt-3">
        <div class="col-sm-1"></div>
        {% for key, value in elem.items%}
        <div class="col-sm-3 text-center">
            <label class="fw-bold fst-italic">{{ key }}</label> <br>
            <img src="data:image/png;base64,{{ value }}" alt="Image" class="imagePerCategory" >
        </div>
        {%  endfor %}
        
    </div>
    {%  endfor %}
    
    <div class="row mt-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-3 text-center">
            <label class="fw-bold fst-italic">Opšte</label> <br>
            <img src="{% static 'css/collage3.jpg' %}" alt="Image" class="imagePerCategory">
        </div>
        
    </div>
    
</body>
</html>
