<!--Magdalena Obradovic 2021/0304-->
{% load static %}
<html>
    <head>
        <title>Prijava</title>
        <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
        <meta charset="UTF-8">
    </head>
    <body id="LoginBody" >
        <div class="container">  
            <form style="color:rgb(0, 0, 0) ;" action="/easyquizzy/login" method="post">
                {% csrf_token %}
                <label for="username">Korisničko ime:</label>
                <input type="text" name="username" placeholder="Unesite korisničko ime" required>
                <label for="password">Lozinka:</label>
                <input type="password" name="password" placeholder="Unesite lozinku" required>
                <input type="submit" value="Prijavi se">
                <a href="loginAsGuest" target="_blank" id="pocetnaGost" style="margin-bottom: 5px;">Prijava kao gost</a>
                <a href="register" target="_blank" style="margin-bottom: 5px;">Registruj se</a>
            </form>
            <div style="text-align: center; color: red; font-weight: bold;">
                {{ message }}
            </div>


        </div>

    </body>
</html>