<!--Petar Milojević 2021/0336-->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static  'js/multiplayer.js' %}"></script>
    <link rel="stylesheet" href="{% static  'css/picking_category_style.css' %}">
    <link rel="stylesheet" href="{% static  'css/picking_choice_singleplayer_or_multiplaayer.css' %}">
    <meta charset="UTF-8">
    <title>Biranje singleplayer ili multiplayer</title>
</head>

<body>
<div class="flex-container-Petar-naslov">
    <h1> Izaberite tip igre</h1>
</div>

<div class="container">
    <div class="row mt-5">

        <div class="col-sm-6 mt-5">
            <form action="picking_category_number_of_questions_singleplayer" id="nastavi_dalje" method="post">
                {% csrf_token %}
                <div class="flex-container-Petar">


                        <div class="contains-image">
                            <div class="caption">Singleplayer</div>
                            <label>
                                <input type="radio" name="test" id="izbor_single" value="small_single" class="dugmici" onclick="submitForm()">
                                <img src="{% static 'css/avatar_singleplayer_bela_pozadina.jpg' %}" style="margin:0px" alt="Avatar Singleplayer" >
                            </label>
                        </div>


                </div>
            </form>
        </div>

        <div class="col-sm-6 mt-5">
            <form action="/easyquizzy/finding/" id="multiUpdate" method="post">
                {% csrf_token %}
                <div class="flex-container-Petar">
                    <div class="contains-image">
                            <div class="caption">Multiplayer</div>
                            <label>
                                <input type="radio" name="test" id="izbor_multi" value="small_multi" class="dugmici" >
                                <div style="display: grid; place-items: center; background-color: white; border-radius: 12px; padding: 20px; width: 200px; height: 200px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                    </svg>
                                </div>
                            </label>
                    </div>
                </div>
                <div id="roomCode" class="alert alert-dark text-center mt-3">
                    <label class="font-italic">Unesite kod za igru: </label> <br>
                    <input type="text" id="code" class="mt-3"> <br>
                     <button type="submit" class="mt-3 btn btn-dark">Nastavi dalje</button>
                </div>
            </form>
        </div>

    </div>
</div>


{#<div class="flex-container-Petar-biranje-broja-pitanja">#}
{##}
{##}
{##}
{#</div>#}


</body>
</html>
