<!--Petar Milojević 2021/0336-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="picking_category_style.css">
    <link rel="stylesheet" href="styleGuest.css">
    <meta charset="UTF-8">
    <title>Biranje kategorije i broja pitanja za izradu testa singleplayer</title>
</head>

<body>
    <div class="flex-container-Petar-naslov">
        <h1> Izaberite kategoriju</h1></div>
       
        
<div class="flex-container-Petar">


        <div class="contains-image">
            <div class="caption">Opste znanje</div>
            <label>
                <input type="radio"  value="small" class="dugmici">
                <img src="collage3.jpg" alt="Muzika" >
            </label>
        </div>
        <div class="contains-image">
            <div class="caption">Muzika</div>
            <label>
                <input type="radio"  value="small" class="dugmici">
                <img src="music.jpg" alt="Muzika" >
            </label>
        </div>
        <div class="contains-image">
            <div class="caption">Knjizevnost</div>
            <label>
                <input type="radio"  value="small" class="dugmici">
                <img src="literature.jpg" alt="Muzika" >
            </label>
        </div>
        <div class="contains-image">
            <div class="caption">Umetnost</div>
            <label>
                <input type="radio"  value="small" class="dugmici">
                <img src="art.jpg" alt="Muzika" >
            </label>
        </div>
        <div class="contains-image">
            <div class="caption">Sport</div>
            <label>
                <input type="radio"  value="small" class="dugmici">
                <img src="sport.jpg" alt="Muzika">
            </label>
        </div>
</div>

<div class="flex-container-Petar">

    <div class="contains-image">
        <div class="caption">Kinematografija</div>
        <label>
            <input type="radio"  value="small" class="dugmici">
            <img src="cinematography.jpg" alt="Muzika" >
        </label>
    </div>
    <div class="contains-image">
        <div class="caption">Geografija</div>
        <label>
            <input type="radio"  value="small" class="dugmici">
            <img src="geography.jpg" alt="Muzika" >
        </label>
    </div>
    <div class="contains-image">
        <div class="caption">Desavanja u svetu</div>
        <label>
            <input type="radio"  value="small" class="dugmici">
            <img src="events.jpg" alt="Muzika" >
        </label>
    </div>
    <div class="contains-image">
        <div class="caption">Igrice</div>
        <label>
            <input type="radio"  value="small" class="dugmici">
            <img src="games.jpg" alt="Muzika" >
        </label>
    </div>
    <div class="contains-image">
        <div class="caption">Istorija</div>
        <label>
            <input type="radio"  value="small" class="dugmici">
            <img src="history.jpg" alt="Muzika">
        </label>
    </div>
</div>

<div class="flex-container-Petar-biranje-broja-pitanja">
    <h3> Unesite broj pitanja na testu</h3>
    <input type="number" min="5" max="15" placeholder="10">

    <a href="test_singleplayer.html">Radi test</a>


</div>




</body>
</html>
