<!--Petar Milojević 2021/0336-->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static  'js/multiplayer.js' %}"></script>
    <link rel="stylesheet" href="{% static  'css/picking_category_style.css' %}">
    <link rel="stylesheet" href="{% static  'css/picking_choice_singleplayer_or_multiplaayer.css' %}">
    <meta charset="UTF-8">
    <title>Biranje singleplayer ili multiplayer</title>
</head>

<body>
<div class="flex-container-Petar-naslov">
    <h1> Izaberite tip igre</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <form action="picking_category_number_of_questions_singleplayer" id="nastavi_dalje" method="post">
                {% csrf_token %}
                <div class="flex-container-Petar">


                        <div class="contains-image">
                            <div class="caption">Singleplayer</div>
                            <label>
                                <input type="radio" name="test" id="izbor_single" value="small_single" class="dugmici" onclick="submitForm()">
                                <img src="{% static 'css/avatar_singleplayer_bela_pozadina.jpg' %}" style="margin:0px" alt="Avatar Singleplayer" >
                            </label>
                        </div>


                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <form action="/easyquizzy/finding/" id="multiUpdate" method="post">
                {% csrf_token %}
                <div class="flex-container-Petar">
                    <div class="contains-image">
                            <div class="caption">Multiplayer</div>
                            <label>
                                <input type="radio" name="test" id="izbor_multi" value="small_multi" class="dugmici" >
                                <img src="{% static 'css/avatar_singleplayer_bela_pozadina.jpg' %}" style="margin:0px"  alt="Avatar Multiplayer" >
                            </label>
                    </div>
                </div>
                <div id="roomCode">
                    <label>Unesite kod za igru: </label>
                    <input type="text" id="code">
                     <button type="submit" >Nastavi dalje</button>
                </div>
            </form>
        </div>

    </div>
</div>


{#<div class="flex-container-Petar-biranje-broja-pitanja">#}
{##}
{##}
{##}
{#</div>#}


</body>
</html>
